body.body {
	background-color: black;
}




/* navbar contents on the left side of the navbar */
ul.topNavbarLeft {
	float: left;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

li.topNavbarContentLeft {
	/* li elements are default blocks so by inline, it removes the line breaks before and after */
	float: left;
}

li.topNavbarContentLeft a {
	display: block;
	padding: 8px;
	background-color: red;
}




/* navbar contents on the right side of the navbar */
ul.topNavbarRight {
	float: right;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

li.topNavbarContentRight {
	float: right;
}

li.topNavbarContentRight a {
	display: block;
	padding: 8px;
	background-color: red;
}
